* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* Espaciado entre logo, menú y usuario */
    align-items: center;
    background-color: #8e8888;
    /* Fondo */
    padding: 10px 20px;
    height: 80px;
    overflow: hidden;
    /* Evita elementos sobresalientes */
}

#logo img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    /*eliminar viñetas de lista */
    display: flex;
    gap: 150px;
    /* Espaciado de elementos  menú */
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Animación suave */
}

ul li a:hover {
    background-color: #373636;
    /* Efecto hover */
}

/*fin estilos navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sobre-nosotros {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 90px 0;
    background: #fff;
}

.pic {
    height: auto;
    width: 500px;
    border-radius: 20px;
}

.sobre {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}

.text h2 {
    color: #333;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text h5 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text p {
    color: #333;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.reserva {
    margin-top: 30px;
}

.reser {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.reser:hover {
    background: #000;
}